<div class="container">
  <div class="row">
    <div class="col-7">
      <table class="table">
        <thead>
          <tr class="table-dark head">
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Línea</th>
            <th scope="col">Modelo</th>
          </tr>
        </thead>
        <tbody>
          <tr class="body" *ngFor="let vehicle of vehicles">
            <th scope="row">{{vehicle.id}}</th>
            <td class="brand">{{vehicle.marca}}</td>
            <td class="line">{{vehicle.linea}}</td>
            <td class="model">{{vehicle.modelo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <p>
      Total Renault: {{getTotalByBrand('Renault')}}<br>
      Total Chevrolet: {{getTotalByBrand('Chevrolet')}}<br>
      Total Nissan: {{getTotalByBrand('Nissan')}}
    </p>
  </div>
</div>